@font-face {
  font-family: 'custom-icons';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/custom-icons.eot?1321325d7f9d903fc37ad0fc0a8b597d?#iefix") format("embedded-opentype"), url("/assets/fonts/custom-icons.woff2?1321325d7f9d903fc37ad0fc0a8b597d") format("woff2"), url("/assets/fonts/custom-icons.woff?1321325d7f9d903fc37ad0fc0a8b597d") format("woff"), url("/assets/fonts/custom-icons.ttf?1321325d7f9d903fc37ad0fc0a8b597d") format("truetype"), url("/assets/fonts/custom-icons.svg?1321325d7f9d903fc37ad0fc0a8b597d#custom-icons") format("svg");
}
.custom-icons {
  font-family: custom-icons !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
