<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
	<link rel="stylesheet" href="/assets/styles/styles.css" />

	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,italic,bold,bolditalic&amp;subset=all" media="screen" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" media="screen" rel="stylesheet" type="text/css">
	<@= frontendConfig @>

	<script src="/assets/vendor/react.development.js"></script>
	<script src="/assets/vendor/react-dom.development.js"></script>
	<script src="/assets/vendor.min.js"></script>
</head>
<body>
	<div id="layoutWrapper"></div>
	<div id="contentWrapper"><div id="systemLoadingMask"></div></div>
</body>
</html>